.container {
    display: flex;
    align-items: center;
    min-height: 3.5rem;
    padding: 0.875rem 1.5rem;
    border-radius: 4px;
    margin-right: 0.75rem;
    background: #0f1318;
    opacity: 0;
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
}

.container.visible {
    opacity: 1;
}

.icon {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 0.625rem;
}

.message {
    font-weight: 500;
    font-size: 1.125rem;
}
