.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
	margin-bottom: 1.25rem;
}

.logo {
	width: 16rem;
	height: 2rem;
}

.updatingBlock {
    display: flex;
    align-items: center;
}
